<!-- <h1>Hello Pokes</h1> -->
<!-- iterates through types and when clicked sets vm.selectedType to the type clicked -->
Types: <span class="shimmer" ng-repeat="pType in vm.types" ng-click="vm.selectedType = pType"> {{pType}} | </span>

<div ng-show="vm.errors.length > 0">
	<ul>
		<li ng-repeat=""></li>
	</ul>
</div>

<form id="newPokeForm">
Add a Pokemon: 
	<input placeholder="Pokemon ID" ng-model="poke.pokeId"/><br />
	<input placeholder="Pokemon Name" ng-model="poke.name"/><br />
	<input placeholder="Pokemon Description" ng-model="poke.description"/><br />
	<input placeholder="Image Source" ng-model="poke.img"/><br />
	<input type="submit" value="Add" ng-click="vm.addPoke(poke); poke = {}"/>
</form>

<!-- Filters by whatever type is selected on line 3 and by id -->
<div class="shimmer" id="pokeList" ng-repeat="poke in vm.pokemons | pokeType:vm.selectedType | orderBy:'pokeId'">
	<h4>{{poke.pokeId}}</h4>
	<h4><img ng-src="{{poke.img}}"></h4>
	<h4>{{poke.name}}</h4>
	<h4>Height: {{poke.height | number:1}}</h4>
	<h4>Weight: {{poke.weight | number:1}}</h4>
	<h4>{{poke.description}}</h4>
</div>
