<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ngtodo</display-name>
  <!-- <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list> -->
  
  
  <servlet>
		<servlet-name>todos</servlet-name>
		<!-- Spring auto generates a Dispatcher servlet behind the scenes which takes all my paths created in the 
		project and directs requests to the right method at the mapped destination -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>todos</servlet-name>
		<!-- what you're root url pattern will be (after "projectName/") -->
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>